@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Resotho';
    src: url('../public/fonts/resotho/Resotho-Extralight.otf');
}

@font-face {
    font-family: 'Ostrich';
    src: url('../public/fonts/ostrich/ostrich-sans-regular.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Ostrich';
    src: url('../public/fonts/ostrich/ostrich-sans-black.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Ostrich';
    src: url('../public/fonts/ostrich/ostrich-sans-light.woff');
    font-weight: lighter;
}

.resotho{
    font-family: 'Resotho', sans-serif;
}
.ostrich{
    font-family: 'Ostrich', sans-serif;
    /* font-weight: bold; */
    letter-spacing: 5px;
}